$bgColor = #00afc7
img
  filter:grayscale(0%)
  //filter:grayscale(100%)
  filter:blur(0px)
  filter:sepia(0%)
$imgTop(url)
  content: ''
  position: absolute
  top: -.06rem
  left: 0
  width: .84rem
  height: .4rem
  color: #fff
  background-image: url(url)
  background-size: cover
  z-index :1

